<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<header th:replace="fragments :: header"></header>

<form method="post">
    <div th:each="event : ${events}" class="checkbox">
        <input type="checkbox" name="event" th:value="${event.name}" th:id="${event.name}"/>
        <label th:for="${event.name}" th:text="${event.name}"></label>
        <br />
    </div>

    <input type="submit" value="Remove Event" />
</form>

</body>
</html>